@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <section>
            <img src="https://patrocinio-en-redes.blinkfire.com/wp-content/uploads/2023/09/header-LALIGA.png" alt="Descripción de la imagen" style="width: 300px; height: auto; border-radius: 10px; margin: 10px;" />
            <h1>¿Qué es la LigaPro?</h1>

            
            <p>
                La LigaPro es la principal liga de fútbol profesional en Ecuador. Es el torneo de mayor prestigio y está compuesto por los mejores equipos de fútbol del país, quienes compiten año tras año por el campeonato nacional.
            </p>

            
            <h2>Historia de la LigaPro</h2>

            
            <p>
                Fundada en 2019, la LigaPro surgió como una forma de mejorar la organización y la competitividad del fútbol ecuatoriano. Reemplazó al antiguo campeonato ecuatoriano y ahora es gestionada por la Liga Profesional de Fútbol del Ecuador (LigaPro EC).
            </p>

            
            <h2>Estructura de la Liga</h2>

            
            <ul>
                <p>Serie A: Compuesta por 16 equipos.</p>
                <p>Serie B: Compuesta por 10 equipos.</p>
            </ul>

            
            <h2>Equipos destacados</h2>

            
            <ul>
                <p>Barcelona SC</p>
                <p>Club Sport Emelec</p>
                <p>Independiente del Valle</p>
                <p>Liga Deportiva Universitaria de Quito</p>
            </ul>

            
        </section>
    </div>

</div>
